/* fuentes */
:root {
  --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway",  sans-serif;
  --nav-font: "Poppins",  sans-serif;
}

/* Colores globales */

:root { 
  --background-color: #ffffff; 
  --default-color: #272829; 
  --heading-color: #050d18; 
  --accent-color: #149ddd; 
  --surface-color: #ffffff;
  --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Nav Menu Colores */ 
:root {
  --nav-color: #747589;  
  --nav-hover-color: #000000; 
  --nav-mobile-background-color: #040b14; 
  --nav-img-border: #858DB5;
}

/*Presets*/

.light-background {
  --background-color: #f4fafd;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #040b14;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #151f2b;
  --contrast-color: #ffffff;
}

/* Scroll suave */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# Estilo general
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

/*--------------------------------------------------------------
 Barra de navegacion
--------------------------------------------------------------*/
.header {
  color: var(--default-color);
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  margin-left:10px;
  margin-bottom:20px;
  margin-top:20px;
  border-radius: 10px;
  padding: 25px 25px;
  width: 280px;
  transition: all ease-in-out 0.3s;
  overflow-y: auto;
  z-index: 997;
  border-right: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

/*imagen redonda de perfil en navbar*/
.header .profile-img img {
  margin: 10px auto;
  object-fit: cover;
  display: block;
  width: 140px;
  height: 140px;
  border: 8px solid color-mix(in srgb, var(--nav-img-border), transparent 85%);
}

/*Texto abajo de imagen de perfil */
.header .logo {
  line-height: 1;
  margin-bottom: 15px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 7px grey;
}


.header .logo h1 {
  font-size: 24px;
  margin-top: 30px;
  font-weight: 700;
  color: var(--heading-color);
}

.header .logo img {
  max-height: 32px;
  margin-right: 8px;
}


.header .social-links {
  margin: 0 0 0 0;
}



/*El elemento <main> que sigue a .header tendrá un margen izquierdo de 300 píxeles, lo que los desplazará 300 píxeles hacia la derecha respecto a su posición normal.
*/
@media (min-width: 1200px) {

  .header~main {
    margin-left: 300px;
  }
}

@media (max-width: 1199px) {
  .header {
    left: -100%;
  }
}

.header.header-show {
  left: 0;
}
/*propiedades del header que aparece cuando esta en mobile */
.header .header-toggle {
  color: var(--contrast-color);
  background-color: var(--accent-color);
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 9999;
  transition: background-color 0.3s;
}

.header .header-toggle:hover {
  color: var(--contrast-color);
  background-color: color-mix(in srgb, var(--accent-color) 90%, white 15%);
}

/*--------------------------------------------------------------
# menu navegacion
--------------------------------------------------------------*/
.mobile-nav-toggle {
  display: none;
}

.navmenu {
  padding: 0;
  z-index: 9997;
    overflow: hidden;
}

.navmenu ul {
  list-style-type:none;
  padding-right: 60px;

}

.navmenu a,
.navmenu a:focus {
  color: var(--nav-color);
  padding: 10px 10px;
  font-family: var(--nav-font);
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  white-space: nowrap;
  transition: 0.3s;
  width: 100%;;
}

.navmenu a .navicon,
.navmenu a:focus .navicon {
  font-size: 20px;
  margin-right: 10px;
}


.navmenu a:hover,
.navmenu .active,
.navmenu .active:focus {
  color: var(--nav-hover-color);
  font-size:18px; 
}

/*iconos de navbar*/
.navmenu a:hover .navicon,
.navmenu .active .navicon,
.navmenu .active:focus .navicon {
  color: #000000;
}


/*--------------------------------------------------------------
# Imagen de carga
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 999999;
  overflow: hidden;
  background: var(--background-color);
  transition: all 0.6s ease-out;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #ffffff;
  border-color: var(--accent-color) transparent var(--accent-color) transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1.5s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Boton para volver al inicio
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: -15px;
  z-index: 99999;
  background-color: var(--accent-color);
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: var(--contrast-color);
  line-height: 0;
}

.scroll-top:hover {
  background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
  color: var(--contrast-color);
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
  bottom: 15px;
}

/*--------------------------------------------------------------
# Desactivar AOS en mobiles
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Global Page Titles & Breadcrumbs
--------------------------------------------------------------*/
.page-title {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 0px 0;
  position: absolute;
}

.page-title h1 {
  font-size: 24px;
  font-weight: 700;
}

.page-title .breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.page-title .breadcrumbs ol li+li {
  padding-left: 10px;
}

.page-title .breadcrumbs ol li+li::before {
  content: "/";
  display: inline-block;
  padding-right: 10px;
  color: color-mix(in srgb, var(--default-color), transparent 70%);
}

/*--------------------------------------------------------------
parametros de secciones en general
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px;
  overflow: clip;
}

/*--------------------------------------------------------------
Titulos de las secciones
--------------------------------------------------------------*/
.section-title {
  padding-bottom: 60px;
  padding-left:0;
  position: left;

}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  letter-spacing: 5px;
  position: relative;
  text-shadow: 2px 2px 10px grey;
}

.section-title h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 500px;
  height: 3px;
  background: var(--heading-color);
  left: 0;
  bottom: 0;
}

.section-title p {
  margin-bottom: 0;
  margin-top:10px;
}

/*--------------------------------------------------------------
Section del banner de inicio
--------------------------------------------------------------*/
.inicio .container h2 i{
  text-shadow: #122742 5px 5px 5px;
  word-spacing: 5px;
  letter-spacing: 8px;

}

.inicio {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 100px ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inicio img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 0.2;
  
}

.inicio:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 70%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.inicio .container {
  position: relative;
  z-index: 3;
}

.inicio h2 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
}

.inicio p {
  margin: 5px 0 0 0;
  font-size: 26px;
}

.inicio p span {
  letter-spacing: 1px;
  border-bottom: 2px solid var(--accent-color);
}


@media (max-width: 768px) {
  .inicio h2 {
    font-size: 32px;
  }
  .inicio p {
    font-size: 20px;
  }
}

/*--------------------------------------------------------------
 Section sobre mi
--------------------------------------------------------------*/
.about .content h2 {
  font-weight: 700;
  font-size: 24px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.imagen-sobremi img{
  border-radius: 5%;
  max-width: 60%;

}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: var(--accent-color);
  line-height: 0;
}

/*--------------------------------------------------------------
# Seccion de programas
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  color: var(--heading-color);
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: var(--heading-font);
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: color-mix(in srgb, var(--default-color), transparent 90%);
  height: 10px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #000000;
}

/*--------------------------------------------------------------
Seccion de curriculum
--------------------------------------------------------------*/
.resume .resume-title {
  color: var(--heading-color);
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid var(--accent-color);
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: var(--background-color);
  border: 2px solid var(--heading-color);
}

/*--------------------------------------------------------------
#  Section de portafolio 
--------------------------------------------------------------*/


.portfolio-details .container  .contenedor-imagen{
  overflow: auto;
  max-height: 480px;
}

.portfolio .portfolio-content {
  position: relative;
  overflow: hidden;
  border-style: solid;
  border-color: lightgrey;
  border-width: thin;
    border-radius: 10px;
    
}

/*imagen de portafolio */
.portfolio .portfolio-content img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  overflow: auto;
  border-radius: 10px;
  scale: 1;
  transition: 0.4s;
}


.portfolio .portfolio-content .portfolio-info {
  opacity: 0;
  position: absolute;
  inset: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px;
}


/*titulo de caja de portafolio*/
.portfolio .portfolio-content .portfolio-info h4 {
  font-size: 14px;
  padding: 5px 10px;
  font-weight: 400;
  color: #ffffff;
  display: inline-block;
  border-radius: 10px;
  background-color: #000000;
}

/*texto dentro de la caja de portafolio */
.portfolio .portfolio-content .portfolio-info p {
  position: absolute;
  bottom: 10px;
  text-align: center;
  display: inline-block;
  left: 0;
  right: 0;
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}


/*iconos dentro de caja portafolio */
.portfolio .portfolio-content .portfolio-info .preview-link,
.portfolio .portfolio-content .portfolio-info .details-link {
  position: absolute;
  left: calc(50% - 40px);
  font-size: 26px;
  top: calc(50% - 14px);
  color: #fff;
  transition: 0.3s;
  line-height: 1.2;
}

/*iconos cuando paso el mouse encima */
.portfolio .portfolio-content .portfolio-info .preview-link:hover,
.portfolio .portfolio-content .portfolio-info .details-link:hover {
  color: #000000;
}

.portfolio .portfolio-content .portfolio-info .details-link {
  left: 50%;
  font-size: 34px;
  line-height: 0;
}

.portfolio .portfolio-content:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-content:hover img {
  transform: scale(1.2);
  transition: 0.5s;
  border-radius: 10px;
}


/*--------------------------------------------------------------
# Pagina Detalles Portafolio
--------------------------------------------------------------*/

.section-details{
  position:relative;
  top:0px;
}

.banner-detalles{
  position: relative;
  top: 0;
}

.portfolio-details .page-title {
  margin-top: 0px;
  border-radius: 5px;
  position:relative;
  top:0px;
  }

.portfolio-details .container img{
  max-width: 100%;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid color-mix(in srgb, var(--default-color), transparent 85%);
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
  color: color-mix(in srgb, var(--default-color), transparent 30%);
}

.mostrar-html.activo {
  display: block;
  width: 100%;
}

.mostrar-html{
  display:none;
}

.mostrar-css{
  display:none;
}

.mostrar-css.activo{
  display: block;
  width: 100%;
}

.mostrar-js{
  display:none;
}

.mostrar-js.activo{
  display: block;
  height: 500px;
}

